.grid-view {
  th {
    white-space: nowrap;
  }
}
.not-set {
  color: #c55;
  font-style: italic;
}
a.asc:after,
a.desc:after {
  .icon-after(5px);
}
a.asc:after {
  content: /*"\e113"*/ "\f15d";
}
a.desc:after {
  content: /*"\e114"*/ "\f15e";
}
.sort-numerical {
  a.asc:after {
    content: "\f162";
  }
  a.desc:after {
    content: "\f163";
  }
}
.sort-ordinal {
  a.asc:after {
    content: "\f0de";
  }
  a.desc:after {
    content: "\f0dd";
  }
}
